<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>
    <meta http-equiv=content-type content="text/html;charset=UTF-8">
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name=format-detection content="telephone=no">
    <meta http-equiv=x-ua-compatible content="ie=edge, chrome=1">
    <link rel=icon href=./static/img/favicon.ico>
    <link rel=stylesheet href=./static/css/bootstrap.css?x1>
    <link rel=stylesheet href=./static/css/common.css?x1>
    <title>Main Page - vue 2.x 样例展示</title>
    <link href=./static/css/main.02e83635d6f40275c032473676a73cf1.css rel=stylesheet>
</head>

<body>
    <section id=main-box class=main-box>
        <main-header nowuser=admin nowdate="2016-11-18 星期四"></main-header>
        <main-nav></main-nav>
        <div class="fr-w container">
            <table class=list>
                <tr class=row v-for="ce in list">
                    <td class=col-xl-2>
                        <input type=text v-model=ce.aa>
                    </td>
                    <td class=col-xl-2>
                        <input type=text v-model=ce.bb>
                    </td>
                    <td class=col-xl-2>
                        <input type=text v-model=ce.cc>
                    </td>
                    <td class=col-xl-2>
                        <input type=text v-model=ce.dd>
                    </td>
                    <td class=col-xl-2>
                        <input type=text v-model=ce.ee>
                    </td>
                    <td class=col-xl-2>
                        <input type=text v-model=ce.ff>
                    </td>
                </tr>
            </table>
            <h3>COPY</h3>
            <table class=list>
                <tr class=row v-for="ce in list">
                    <td class=col-xl-2>
                        <input type=text v-model=ce.aa>
                    </td>
                    <td class=col-xl-2>
                        <input type=text v-model=ce.bb>
                    </td>
                    <td class=col-xl-2>
                        <input type=text v-model=ce.cc>
                    </td>
                    <td class=col-xl-2>
                        <input type=text v-model=ce.dd>
                    </td>
                    <td class=col-xl-2>
                        <input type=text v-model=ce.ee>
                    </td>
                    <td class=col-xl-2>
                        <input type=text v-model=ce.ff>
                    </td>
                </tr>
            </table>
        </div>
    </section>
    <div id=main-footer></div>
    <script src=./static/js/eventsource.js?1x></script>
    <script src=./static/js/jquery.js?1x></script>
    <script src=./static/js/jquery-migrate.js?1x></script>
    <script src=./static/js/tether.js?1x></script>
    <script src=./static/js/bootstrap.js?1x></script>
    <script src=./static/js/common.js?1x></script>
    <script type=text/javascript src=./static/js/vendor.cfde18f380675f24942b.js></script>
    <script type=text/javascript src=./static/js/main.a26a91eab8df7d0df765.js></script>
</body>

</html>
